 body {
	font-size: 16px;										/*Schriftgrösse*/
	font-family: Verdana, Arial, Helvetica, sans-serif; 	/*Schriftart*/
	color: white;											/*Schriftfarbe*/
	background-color: black;								/*Hintergrundfarbe*/
	text-align: center;
	}

h1 { 
	font-size: 40px;
	display: flex;
	justify-content: center;
}
header {
    top: 0;
    left: 0;
    right: 0;
    height: 20em;
	background-color: white;
}
img.augen {
	display: flex;
	margin-left: auto;		
    margin-right: auto;
	width: 50em;			/*Breite*/
	height: 20em;			/*Hohe*/
}
img.main {
	display: flex;
	margin-left: auto;
    margin-right: auto;
	width: 17em;
	height: 7em;
}
.navigation {			/*Breite ganze Seite*/
    list-style: none;
	padding: 20px;			/*Schriftgrösse*/
	margin: auto;
	border-bottom: white 5px solid;
	text-align: center;
}
.navigation li {
    margin-right: 10px;
    padding: 5px 50px;
	font-size: 16px;
	display: inline;
}
.navigation li a{
	text-decoration: none;
}
.main {
	text-align: center;
	margin: 0 auto;
}
.cookie {
	font-size: 13px;
}
@media screen and (max-width: 800px) {
	.navigation li {
		display: block;
	} 
}

@media screen and (max-width: 800px) {
	.main {
		text-align: center;
	}
}

@media screen and (max-width: 800px) {
	img.augen {
		width: 50em;
	}
}

@media screen and (max-width: 800px)  { 
	img.main {
		width: 15em;
	}
}

@media screen and (max-width: 800px)  {  
	#myCanvas {
		width: 30em;
	}
}

@media screen and (max-width: 800px)  {  
	.cookie {
		font-size: 8px;
	}
}